# Built packages
/build/

# Project files
.developer
/node_modules
package-lock.json
/vendor/
/jetpack_vendor/
composer.lock

# PHPcs
phpcs_error.csv

#Tests
/artifacts/

# .zip del plungin generado
*.zip
/plugin-init/
/test-results/
/playwright-report/
/playwright/.cache/
